@import "./../Mixin_New.scss";
@import "./../Variable.scss";

.option-container {
	position: fixed;
	// display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-color: $bg-light;
	// color: #262626;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 9999;
	// background: rgba(255, 255, 255, 0.034);
	backdrop-filter: blur(10px);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	// cursor: pointer;
	// padding: 1rem;


	.option-back-div {
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		padding: 0 1rem;
		cursor: pointer;

		@include respond-to(md) {
			display: flex;
		}

		@include respond-to(sm) {
			display: flex;
		}

		@include respond-to(xs) {
			display: flex;
		}
	}


	.option-inner-div {
		padding: 1rem;
		margin-top: 10px;
		// background: blue;

		@include respond-to(xs) {
			margin-top: 0;
		}

		.option-item-wrapper {
			width: 100%;
			display: flex;
			justify-content: center;

			@include respond-to(xs) {
				justify-content: start;
			}
		}

		.option-profile-div {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 1rem;
			// background: blue;

			.option-profile-img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				object-fit: cover;
				box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
				cursor: pointer;
			}

			.option-profile-text {
				text-transform: capitalize;
				margin: 1rem 0;
				cursor: pointer;
				font-size: 36px;
				font-weight: 600;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				background: linear-gradient(150deg, #0095ff, #CB04FF);
				color: transparent;
				-webkit-background-clip: text;
			}
		}

		.option-mainu-div {
			display: flex;
			align-items: center;
			// background: yellow;
			height: 60px;
			margin: 1rem 0;
			cursor: pointer;

			.option-mainu-icon {
				// background: red;
				width: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.option-mainu-name {
				// background: blue;
				font-size: 18px;
				font-weight: 600;
				padding-left: 1rem;
			}
		}

	}
}

.spinning-image {
	animation: spin 25s linear infinite;
	/* Adjust animation duration as needed */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}