.realWork-main-container {
    width: 100%;
    display: flex;

    .left {
        width: 100%;
        max-width: 110px;
    }
}


#Reel-Video-Container {
    overflow: auto;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    scroll-snap-type: both mandatory;
    aspect-ratio: 1/1;
    overflow-y: scroll;
    white-space: nowrap;
    -webkit-scroll-snap-type: both mandatory;

    &::-webkit-scrollbar {
        display: none;
    }

}

.Reel-Video-Div {
    overflow: hidden;
    object-fit: cover;
    width: 500px;
    height: 100vh;
    scroll-snap-align: center;
    aspect-ratio: 1/1;
    color: white;

}

.Reel-back-div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 1rem;
    font-size: 18px;
    font-style: normal;
}

.reel-profile-div {
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    font-size: 18px;

    .reel-profile-photo {
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}
.name{
    position: absolute;
    bottom: 0;
}
// .Reel-Video {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }