@import "./../Styles/Variable";
@import "./../Styles/Mixin_New.scss";

.mobile-nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100px;
    height: 100vh;
    backdrop-filter: blur(30px);
    // transition: 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    @include respond-to(xs) {
        max-width: 100%;
        height: 50px;
        position: sticky;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        // background: blue;    
        padding: 0 1rem;
    }

    .mobile-nav-title {
        width: 100%;
        display: flex;
        justify-content: center;
        .nav-logo {
            width: 35px;
            height: 35px;
            object-fit: cover;
        }

        @include respond-to(xs) {
            flex: 0.6;
            justify-content: start;
        }
    }


    .mobile-item-div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        @include respond-to(xs) {
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content:space-between;
            // background: red;
        }

        .mobile-nav-icon {
            font-size: 24px;
            cursor: pointer;
        }
    }

}