.weddinglistD-photo-div {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.btn-close-div {
    width: 30px;
    height: 30px;
    // background: red;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.weddinglistD-photo {
    width: 210px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.weddinglistD-name-div {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}


.weddinglist-mainu-wapper {
    padding: 1rem;
    padding-bottom: 100px;
    background: linear-gradient(40deg, #0A2229, #0B3B39);

    .weddinglist-mainu-item {
        margin: 1rem 0;
    }

    .weddinglist-mainu-item-name {
        // background-color: red;
        flex: 0.6;
        font-size: 18px;
        font-weight: 600;
        color: white;
    }

    .weddinglist-mainu-item-containt {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        line-height: 20px;
        padding-left: 0.5rem;
        color: white;
    }
}

.weddinglist-mainu-item {
    display: flex;
    align-items: center;

}