@import "./../Mixin_New.scss";
@import "./../Variable.scss";

.sms-div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    // background: red;

    .sms-user-ring-div {
        width: 50px;
        height: 50px;
        // border-radius: 50%;
        margin-right: 1rem;
        position: relative;
        // background: red;

        .sms-user-ring {
            width: 47px;
            height: 47px;
            // background: #00fc0093;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: glow 2s infinite;
            border: 1px solid #00fc00;
            cursor: pointer;

            @include respond-to(sm) {
                width: 47px !important;
                height: 47px !important;
            }

            @include respond-to(xs) {
                width: 42px !important;
                height: 42px !important;
            }
        }

        @keyframes glow {
            0% {
                box-shadow: 0 0 4px rgba(0, 255, 0, 0.7);
                // opacity: 0;
            }

            50% {
                box-shadow: 0 0 10px #01fc00;
                // opacity: 0.7;
            }

            100% {
                box-shadow: 0 0 4px rgba(0, 255, 0, 0.295);
                // opacity: 0;
            }
        }

        .sms-user-img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;

            @include respond-to(sm) {
                width: 40px !important;
                height: 40px !important;
            }

            @include respond-to(xs) {
                width: 40px !important;
                height: 40px !important;
            }
        }
    }

    .sms-name {
        margin-right: 40px;
        cursor: pointer;
        text-transform: capitalize;
    }
}

.sms-position-div {
    position: fixed;
    top: 65%;
    left: 66%;
    transform: translate(0%, 0%);
    z-index: 9999;
    transition: 0.3s ease-in-out;
    border-radius: 50%;

    @include respond-to(md) {
        top: 65%;
        left: 91%;
        transform: translate(0%, 0%);
        z-index: 9999;
    }

    @include respond-to(sm) {
        top: 65%;
        left: 90%;
        transform: translate(0%, 0%);
        z-index: 9999;
    }

    @include respond-to(xs) {
        top: 65%;
        left: 84%;
        transform: translate(0%, 0%);
    }

}


.request-animated-circle-request {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    animation: growRequet 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #00fc00;
    background: #00fc00;
}

@keyframes growRequet {
    0% {
        // transform: scale(0.5);
        // background-color: blue;
        box-shadow: 0 0 4px rgba(0, 255, 0, 0.7);
        opacity: 0.3;
    }

    50% {
        // transform: scale(0.8);
        box-shadow: 0 0 10px #01fc00;
        opacity: 0.8;
    }

    100% {
        // transform: scale(0.5);
        box-shadow: 0 0 4px rgba(0, 255, 0, 0.295);
        opacity: 0.3;
    }
}


.message-wrapper {
    width: 100%;
    height: 100vh;
    // position: fixed;
    top: 0;
    // background-color: white;
    z-index: 9999;
    padding-top: 50px;

    @include respond-to(xs) {
        position: fixed;
    }

    .message-wrapper-inner {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .wrapper-container {
            padding-top: 1rem;
        }

        .Message-back-div {
            width: 100%;
            height: 60px;
            padding: 1rem;
            display: flex;
            align-items: center;
            // border-bottom: 1px solid #ccc;
            position: absolute;
            top: 0;
            // background-color: white;
            z-index: 2;

            @include respond-to(xl) {}

            @include respond-to(lg) {}

            .bi-arrow-left {
                margin-right: 1rem;
                cursor: pointer;

                @include respond-to(xl) {
                    display: none;
                }

                @include respond-to(lg) {
                    display: none;
                }
            }

            .Message-User-input {
                padding: 8px;
                border: none;
                outline: none;
                border-radius: 2px;
                transition: border-bottom-color 0.3s, box-shadow 0.3s;
                background: none;
                font-size: 17px;
                padding-inline-start: 20px;

            }
        }

        .Message-user-List {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;

            .tablink-btn-wrapper {
                display: flex;
                width: 100%;
                justify-content: center;
                margin-bottom: 1rem;
                padding: 1rem;

                .tablink-btn-inner-wrapper {
                    width: 100%;
                    max-width: 600px;
                    // background: blue;
                    display: flex;
                    justify-content: space-between;

                }
            }

            .tablinks {
                padding: 5px 8px;
                cursor: pointer;
                // color: white;
                font-weight: 600;
                display: flex;
                align-items: center;

                &.active {
                    display: flex;
                    align-items: center;
                    background-color: #007bff;
                    padding: 5px 8px;
                    border-radius: 30px;
                    color: #fff;
                }
            }

            .message-tab-container {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
            }

            .message-profile-div-one {
                display: flex;
                align-items: center;
                margin: 1rem 0;

                .message-user-img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }

                .message-user-name {
                    font-size: 16px;
                    font-weight: 600 !important;
                    margin-left: 0.5rem;
                    text-transform: capitalize;
                }
            }

            .num-requ {
                font-size: 20px;
                font-weight: 600;
                font-style: italic;
                color: $light-text3;
            }

            .request-container {
                display: flex;
                // background-color: blue;
                margin-bottom: 2rem;

                // align-items: center;
                .box-shadow-none {
                    box-shadow: none !important;
                }

                .request-img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }

                .request-inne-container {
                    padding-left: 1.5rem;

                    .request-name {
                        font-size: 17px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }

                    .request-btn-div {
                        margin-top: 0.5rem;
                    }
                }
            }


            .tab-title {
                color: #FF0000;
            }

            .online-user-name {
                margin-left: 1rem;
                font-weight: 600;
                text-transform: capitalize;
            }

            .online-user-div {
                display: flex;
                align-items: center;
                // margin-top: 1rem;
                // background: red;
                margin-bottom: 25px;
            }

            .tab-block {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                position: relative;

                .request-tab-relative-div {
                    // background-color: blue;

                    position: relative;

                    .request-tab-absolute-div {
                        position: absolute;
                        top: 0;
                        left: -3px;

                        // .request-animated-circle {
                        //     width: 22px;
                        //     height: 22px;
                        //     border-radius: 50%;
                        //     animation: growRequet 1s infinite;
                        //     display: flex;
                        //     justify-content: center;
                        //     align-items: center;
                        // }

                        // @keyframes growRequet {
                        //     0% {
                        //         transform: scale(0.5);
                        //         background-color: #FF0040;
                        //     }

                        //     50% {
                        //         transform: scale(0.8);
                        //     }

                        //     100% {
                        //         transform: scale(0.5);

                        //     }
                        // }
                    }
                }

                .w3-button {
                    // background: none;
                    border: none;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 30px;
                }
            }



        }




        .avt {
            width: 40px !important;
            height: 40px !important;
        }
    }
}