@import "./../Mixin_New.scss";
@import "./../Variable.scss";



// .Message-container {
//     position: fixed;
//     // display: none;
//     width: 100%;
//     height: 70px;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: $bg-light;
//     color: black;
//     font-family: Arial, Helvetica, sans-serif;
//     z-index: 9999;
//     cursor: pointer;

//     // padding: 1rem;

//     .Message-back-div {
//         padding: 0rem 1rem;
//         padding-top: 1rem;
//         display: flex;
//         align-items: center;

//         .Message-User-input {
//             padding: 8px;
//             border: none;
//             outline: none;
//             border-radius: 2px;
//             transition: border-bottom-color 0.3s, box-shadow 0.3s;
//             background: none;
//             font-size: 17px;
//             padding-inline-start: 20px;

//             &:focus {
//                 border: none;
//                 box-shadow: none;
//             }
//         }
//     }

// }

// .Message-user-List {
//     position: relative;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: $bg-light;
//     padding: 1rem;
//     padding-bottom: 2rem;
//     color: black;
//     z-index: 2;
//     padding-top: 2rem;


//     .message-profile-div {
//         display: flex;
//         align-items: center;
//         margin: 1rem 0;
//         .message-user-img {
//             width: 50px;
//             height: 50px;
//             object-fit: cover;
//             object-position: center;
//             border-radius: 50%;
//         }

//         .message-user-name {
//             font-size: 16px;
//             font-weight: 600 !important;
//             margin-left: 1rem;
//         }
//     }



//     .fbox {
//         width: 70px;
//         height: 70px;
//         background: blue;
//         margin: 0.3rem;
//     }

//     .Message-user-container {
//         padding-top: 1rem;

//         .Message-profile-div {
//             display: flex;
//             align-items: center;

//             .Message-profile-img {
//                 width: 40px;
//                 height: 40px;
//                 border-radius: 50%;
//                 object-fit: cover;
//                 object-position: center;
//                 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
//             }

//             .Message-Profile-name {
//                 margin-left: 1rem;
//             }
//         }
//     }
// }


// .userimg {
//     width: 70px;
//     height: 70px;
//     object-fit: cover;
//     border-radius: 50%;
//     padding: 0.5rem;
// }

// Tab
// .Message-user-List {
//     display: flex;
//     flex-direction: column;

//     .num-requ {
//         font-size: 20px;
//         font-weight: 600;
//         font-style: italic;
//         color: $light-text3;
//     }

//     .request-container {
//         display: flex;
//         align-items: center;

//         .request-img {
//             width: 65px;
//             height: 65px;
//             object-fit: cover;
//             object-position: center;
//             border-radius: 50%;
//         }

//         .request-inne-container {
//             padding-left: 1.5rem;

//             .request-name {
//                 font-size: 17px;
//                 font-weight: 600;
//                 text-transform: capitalize;
//             }

//             .request-btn-div {
//                 margin-top: 0.5rem;
//             }
//         }
//     }


//     .tab-title {
//         color: #FF0000;
//     }

//     .online-user-name {
//         margin-left: 1rem;
//         font-weight: 600;
//         text-transform: capitalize;
//     }

//     .tab-block {
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 2rem;

//         .w3-button {
//             background: none;
//             border: none;
//             font-size: 18px;
//             font-weight: 600;
//         }
//     }

//     .online-user-div {
//         margin: 0.5rem 0;
//         display: flex;
//         align-items: center;
//         margin-bottom: 1rem;
//     }

//     // .People-container {
//     //     display: flex;
//     //     align-items: center;

//     //     .People-profile-img {
//     //         width: 30px;
//     //         height: 30px;
//     //         border-radius: 50%;
//     //         object-fit: cover;
//     //         object-position: center;
//     //         margin: 0.5rem 0;
//     //     }

//     //     .People-profile-name {
//     //         margin-left: 0.5rem;
//     //         font-weight: 600;
//     //         text-transform: capitalize;
//     //     }
//     // }

// }



.message-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 9999;
    padding-top: 50px;

    .message-wrapper-inner {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: scroll;

        .wrapper-container {
            padding-top: 1rem;
        }

        .Message-back-div {
            width: 100%;
            height: 50px;
            padding: 1rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            position: absolute;
            top: 0;
            background-color: white;
            z-index: 2;

            .bi-arrow-left {
                margin-right: 1rem;
            }

            .Message-User-input {
                padding: 8px;
                border: none;
                outline: none;
                border-radius: 2px;
                transition: border-bottom-color 0.3s, box-shadow 0.3s;
                background: none;
                font-size: 17px;
                padding-inline-start: 20px;

            }
        }

        .Message-user-List {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;

            .message-profile-div-one {
                display: flex;
                align-items: center;
                margin: 1rem 0;

                .message-user-img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }

                .message-user-name {
                    font-size: 16px;
                    font-weight: 600 !important;
                    margin-left: 0.5rem;
                    text-transform: capitalize;
                }
            }

            .num-requ {
                font-size: 20px;
                font-weight: 600;
                font-style: italic;
                color: $light-text3;
            }

            .request-container {
                display: flex;
                // background-color: blue;
                margin-bottom: 2rem;
                // align-items: center;
                .box-shadow-none{
                    box-shadow: none !important;
                }
                .request-img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }

                .request-inne-container {
                    padding-left: 1.5rem;

                    .request-name {
                        font-size: 17px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }

                    .request-btn-div {
                        margin-top: 0.5rem;
                    }
                }
            }


            .tab-title {
                color: #FF0000;
            }

            .online-user-name {
                margin-left: 1rem;
                font-weight: 600;
                text-transform: capitalize;
            }

            .tab-block {
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                position: relative;

                .request-tab-relative-div {
                    // background-color: blue;

                    position: relative;

                    .request-tab-absolute-div {
                        position: absolute;
                        top: 0;
                        left: -3px;

                        .request-animated-circle {
                            width: 22px;
                            height: 22px;
                            border-radius: 50%;
                            animation: growRequet 1s infinite;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        @keyframes growRequet {
                            0% {
                                transform: scale(0.5);
                                background-color: #FF0040;
                            }

                            50% {
                                transform: scale(0.8);
                            }

                            100% {
                                transform: scale(0.5);

                            }
                        }
                    }
                }

                .w3-button {
                    background: none;
                    border: none;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 30px;
                }
            }

            .online-user-div {
                display: flex;
                align-items: center;
                margin-top: 1rem;
            }

        }




        .avt {
            width: 40px !important;
            height: 40px !important;
        }
    }
}