@import "./../../Styles/Variable";
@import "./../../Styles/Mixin_New.scss";

.message-bottom-bar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    // backdrop-filter: blur(15px);
    // color: white;
    // background: red;
    position: fixed;
    bottom: 0;
    z-index: 2;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    // padding: 1rem;


    .message-bottom-inner-div {
        width: 100%;
        max-width: 700px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7rem 1rem;
        // background-color: #fafafa;
        // background-color: white;
        border-radius: 30px;

        @include respond-to(xs) {
            border-radius: 0px;
        }
    }

    .message-bottom-input {
        width: 100%;
        max-width: 600px;

        height: 40px;
        // background-color: #f0f2f5;
        // max-width: 220px;
        flex: 1;
        margin: 0 0.6rem;
        margin-left: 0.8rem;
        border: none;
        border-radius: 30px;
        box-shadow: none;
        outline: none;
        padding-inline-start: 10px;

        box-shadow: $border-input;
    }

    .message-bottom-send-btn {
        font-size: 30px;
        cursor: pointer;
        // color: #2E2E2E;
    }

    .message-bottom-camera {
        font-size: 30px;
        cursor: pointer;
        // color: #2E2E2E;
    }

    .message-bottom-thumb-div {
        margin-left: 0.8rem;

        .message-bottom-thumb {
            font-size: 24px;
            cursor: pointer;
            // color: #2E2E2E;
        }

    }

    // =======================



    .message-emoji-Btn-div {
        border: 1px solid #ccc;
        // background: rgba(0, 0, 0, 0.082);
        // backdrop-filter: blur(10px);
        width: 40px;
        height: 40px;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 50%;
        cursor: pointer;

        .message-emoji-btn {
            margin-top: 2px;
            cursor: pointer;
        }
    }

}

.pdfView-Option {
    width: 150px;
    height: 110px;
    padding: 5px;
    // background: red;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    position: absolute;
    bottom: 65px;
    box-shadow: $border-input;

    .pdfView-item {
        position: relative;
        top: -10px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        
    }
    .pdfView-time{
        font-size: 11px;
    }
}

.message-emoji-grop-div {
    // background-color: red;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 350px;
    position: fixed;
    bottom: 0;
    // z-index: 1;
    display: flex;
    justify-content: center;

    .message-emoji-grop-scroll {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-y: scroll;

        .message-emoji-group-one {
            width: 100%;
            padding: 0 1rem;
            display: flex;

            .message-emoji-div {
                width: 60px;
                height: 60px;
                // background: blue;
                backdrop-filter: blur(20px);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 3px;

                .message-emoji {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
            }
        }
    }
}



.typing-indicator {
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    // animation: typing 1s infinite;
    margin-top: 1rem;


}

.typing-bg {
    // width: 100px;
    // height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: red !important;
    // display: none;
    padding: 1rem;
    border-radius: 30px;
}

.typing-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 0.5rem;
}

.dot-1 {
    width: 6px;
    height: 6px;
    border-radius: 50%;

    margin: 0 2px;
    display: inline-block;
    animation: blink 1s infinite;
}

.dot-2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;

    margin: 0 2px;
    display: inline-block;
    animation: blink 1s infinite;
}

.dot-3 {
    width: 6px;
    height: 6px;
    border-radius: 50%;

    margin: 0 2px;
    display: inline-block;
    animation: blink 1s infinite;
}

.dot-4 {
    width: 6px;
    height: 6px;
    border-radius: 50%;

    margin: 0 2px;
    display: inline-block;
    animation: blink 1s infinite;
}

.dot-5 {
    width: 6px;
    height: 6px;
    border-radius: 50%;

    margin: 0 2px;
    display: inline-block;
    animation: blink 1s infinite;
}

.dot-2 {
    animation-delay: 0.2s;
}

.dot-3 {
    animation-delay: 0.4s;
}

.dot-4 {
    animation-delay: 0.6s;
}

.dot-5 {
    animation-delay: 0.8s;
}

@keyframes typing {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;

    }

    50% {
        opacity: 1;
    }
}