@import "./../../Styles/Mixin_New.scss";

.emoji-container-main {
    width: 100%;
    // max-width: 600px;
    height: calc(100vh - 200px);
    // background: rgba(0, 0, 255, 0);
    // background: rgb(68, 68, 68);
    // backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    .emoji-history-div {
        display: flex;
        padding: 0.5rem 0;
        width: 100%;
        max-width: 600px;
        overflow-x: auto;
        backdrop-filter: blur(50px);
        border-radius: 10px 10px 0 0;

        &::-webkit-scrollbar {
            display: none;
        }

        .emoji-history-item {
            flex-shrink: 0;

            /* Prevent items from shrinking */
            .emoji-history-icon-div {
                margin: 0 1rem;

                .emoji-history-icon {
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                }
            }
        }
    }


    .emoji-div-scroll {
        width: 100%;
        max-width: 600px;
        // height: calc(100% - 130px);
        height: 100%;
        backdrop-filter: blur(50px);

        @include respond-to(md) {
            max-height: 600px;
        }

        @include respond-to(sm) {
            max-height: 500px;
        }

        @include respond-to(xs) {
            max-height: 500px;
        }

        box-sizing: border-box;
        overflow-y: scroll;
        // background: black;
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding-bottom: 0.5rem;

        &::-webkit-scrollbar {
            display: none;
        }

        .message-emoji-div {
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            .message-emoji {
                width: 45px;
                height: 45px;
                cursor: pointer;
            }
        }
    }
}