@import "./../Styles/Mixin_New.scss";

.login-wellcome-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loaing-logo {
        width: 60px;
        height: 60px;
        object-fit: contain;
        object-position: center;
        border-radius: 50%;
    }
}


.loging-container {
    width: 100%;
    height: 655px;
    // background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    position: relative;

    @include respond-to(xs) {
        height: 100vh;
    }

    .arrowDown-login {
        position: absolute;
        bottom: 30px;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        object-fit: contain;
        object-position: center;
        animation: downArro 2s infinite;

        @include respond-to(md) {
            display: none;
        }

        @include respond-to(sm) {
            display: none;
        }
    }

    @keyframes downArro {
        0% {
            transform: translateY(0);
            opacity: 0;
        }

        50% {
            transform: translateY(15px);
            opacity: 1;
        }

        100% {
            transform: translateY(0);
            opacity: 0;
        }
    }

    .login-div {
        width: 100%;
        max-width: 280px;
        position: absolute;
        top: 90px;
        display: flex;
        flex-direction: column;

        // background: red;



        @include respond-to(xs) {
            top: 100px;
        }

        .brand-wrapper {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            .brand-name {
                // color: #2563eb;
                margin: 0 1rem;
                font-size: 34px;
                cursor: auto;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
                background: linear-gradient(to right, #D902FF, #2F97E2);
                background-size: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                // color: transparent;
            }


        }

        .login-form-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .auth-link-or-div {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 250px;
                margin: 0.5rem 0;

                .auth-link-left-border {
                    // border: 1px solid black;
                    width: 100%;
                    height: 10px;
                    // background: red;
                    display: flex;
                    justify-content: center;
                    align-items: end;

                    .left-bordr {
                        width: 100%;
                        height: 3px;
                        background: linear-gradient(150deg, #3d54ff, #C218FD, #40ADFD 95%);
                        // border-bottom: 2px solid #999;
                        border-radius: 30px;
                    }
                }

                .auth-link-or {
                    margin: 0 1rem;
                }



            }

            .auth-link-div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 0.5rem 0;
                margin-bottom: 1rem;

                .login-with {
                    width: 28px;
                    height: 28px;
                    cursor: pointer;
                    object-fit: cover;
                }
            }

            .login-inputs {
                width: 100%;
                // max-width: 250px;
                height: 35px;
                border-radius: 30px;
                padding: 0 10px;
                border: none;
                outline: none;
                margin: 1rem 0;
                // background: #424242;
                // color: white;
                // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                color: #151515;
            }

            .btn-shadow {
                // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }

            #error-alert {
                color: red;
            }

            .forgot-text {
                color: #6E6E6E;
                margin: 0.5rem 0;
            }
        }

    }
}

.about-section-one {
    width: 100%;
    height: 655px;
    background: #181818;
    display: flex;

    @include respond-to(xs) {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;
        background: linear-gradient(150deg, #D902FF, #0A83FF, #D902FF);
    }

    .about-col-one {
        flex: 1;
        height: 100%;
        // background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: white;

        .about-col-one-text {
            width: 100%;
            max-width: 500px;
            font-size: 50px;
            text-transform: capitalize;

            .about-col-one-send-text {
                background: linear-gradient(150deg, aqua, #0A83FF 10%, #D902FF);
                -webkit-background-clip: text;
                color: transparent;
                font-weight: 600;

                @include respond-to(xs) {
                    background: none;
                    color: white;
                }
            }

        }
    }

    .about-col-two {
        flex: 1;
        height: auto;
        // background: blue;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to(md) {
            align-items: center;
        }

        @include respond-to(xs) {
            margin-top: 50px;
        }

        .about-col-two-card {
            width: 100%;
            max-width: 500px;
            background: linear-gradient(150deg, #0A83FF, #D902FF);
            height: 100%;
            max-height: 600px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: end;
            position: relative;
            padding: 1rem;

            @include respond-to(sm) {
                justify-content: center;
                align-items: end;
                padding-bottom: 50px;
            }

            @include respond-to(xs) {
                max-width: 100%;
                max-height: 600px;
                justify-content: center;
                align-items: center;
                background: none;
            }


            .about-card-two-emoji {
                position: absolute;
                top: 150px;
                left: 20px;
                width: 130px;
                height: 130px;
                object-fit: contain;
                transition: 0.5s ease-in-out;

                @include respond-to(md) {
                    width: 100px;
                    height: 100px;
                    // left: 15px;
                }

                @include respond-to(sm) {
                    width: 90px;
                    height: 90px;
                    top: 0;
                    left: 130px;
                }

                @include respond-to(xs) {
                    width: 80px;
                    height: 80px;
                    top: 20px;
                    left: 250px;
                }
            }

            .about-col-two-card-inner {
                max-width: 350px;
                height: 480px;
                border-radius: 10px;
                overflow: hidden;
                transition: 0.5s ease-in-out;

                @include respond-to(md) {
                    height: 380px;
                    border-radius: 10px;
                }

                @include respond-to(sm) {
                    height: 450px;
                    border-radius: 10px;
                }

                @include respond-to(xs) {
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                }

                .about-col-two-video {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                    border-radius: 10px;

                    @include respond-to(xs) {
                        width: 100%;
                        height: 100%;
                    }
                }
            }


        }
    }
}

.footer-div {
    width: 100%;
    // height: 50px;
}