.height {
    // background: red;
    width: 100%;
    height: 100px;
}

#scrollTopBtn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b243b00;
    backdrop-filter: blur(10px);
    border-radius: 100%;
    padding: 0px;

    position: fixed;
    bottom: 100px;
    right: 10px;
    color: rgba(255, 255, 255, 0.596);
    transition: 0.3s ease-in-out;
    z-index: 9999;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    .top-arrow {
        transition: 0.3s ease-in-out;
        font-size: 16px;
        color: black;
    }
}