@import "./../Styles/Variable";

.view-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    padding-bottom: 100px;

    // background-color: white;
}

.view-img-wrapper {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    // height: 100%;
    // max-height: 200px;

}

.view-noti-profile-div {
    display: flex;
    align-items: center;
    padding: 1rem;

    .view-noti-post-time {
        font-size: 14px;
        color: #999;
        margin-left: 1rem;
    }

    .View-noti-profile-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .view-noti-profile-name {
        margin-left: 0.5rem;
        text-transform: capitalize;
    }

    .view-noti-post-close {
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
        // background-color: red;
        font-size: 24px;
        color: #2E2E2E;
    }
}

.view-profile-postText {
    padding: 0 1rem;
    margin-bottom: 1rem;
}



.view-Post-img {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
    object-position: center;
}

.view-video-container {
    width: 100%;
    max-height: 600px;
    position: relative;
    z-index: 0;
    // background: red;

    .view-post-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.view-tab-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0rem;
    // margin-bottom: 10px;
    border-top: 1px solid #ccc;

    .view-tab-like-count {
        font-weight: 600;
    }
}

.view-tab-make-comment-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    bottom: 55px;
    width: 100%;
    z-index: 1;
    // background-color: red;

    .view-tab-make-comment-inner-div {
        // background-color: red;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 30px;
        background-color: white;
        box-shadow: $border-input;
        padding-right: 0.5rem;


    }

    .view-tab-make-comment-input {
        width: 100%;
        max-width: 300px;
        border-radius: 30px;
        border: none;
        padding-inline-start: 10px;
        height: 40px;
        background: none;

        &:focus {
            border: none;
            outline: none;
        }
    }

    .view-tab-make-comment-icon {
        font-size: 30px;
        margin-left: 1rem;
        // color: $light-text2;
        color: #2E2E2E;
    }
}

.view-container-list {
    padding: 1rem;
    // height: 100%;
    // background-color: red;
}

.noti-pro-div {
    display: flex;
    align-items: center;
    // margin: 0.5rem 0;

    .noti-pro-img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

}



// comment




.notification-container {
    display: flex;
    margin-bottom: 0.8rem;
    position: relative;
    z-index: 0;

    .view-comment-delete-div {
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 18px;
    }

    .notification-comment-profile-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .notification-comment-profile-group {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        // background-color: white;
        margin: 0 1rem;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: $border-input;

        .view-noti-post-time {
            width: 100%;
            max-width: 180px;
            font-size: 12px;
            color: #999;
        }

        .notification-comment-profile-group-name {
            display: flex;
            align-items: center;
            position: relative;
        }
    }

    .view-comment-delte-container {
        flex: 1;
    }
}