@import "./../Mixin_New.scss";
@import "./../Variable.scss";
@import "./../Styles/Variable";

.search-back-div {
    width: 100%;
    height: 50px;
    // background: red;
    position: sticky;
    top: 0;
    z-index: 1;
    // border-bottom: 1px solid #585858;
    display: flex;
    align-items: center;
    padding: 1rem;


    .bi-arrow-left {
        margin-right: 1rem;
        cursor: pointer;

        @include respond-to(lg) {
            display: none;
        }
        @include respond-to(xl) {
            display: none;
        }
    }

    .Seatch-User-input {
        width: 100%;
        max-width: 400px;
        height: 35px;
        padding: 0 10px;
        border-radius: 30px;
        border: none;
        outline: none;
        box-shadow: $border-input;
    }
}

.search-main-container {
    position: relative;
    // top: 0;
    // left: 0;
    // z-index: 9999;
    width: 100%;
    height: 100vh;
    // background: blue;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-bottom: 60px;
    box-sizing: border-box;
    overflow-y: scroll;

    @include respond-to(xs) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    &::-webkit-scrollbar {
        display: none;
    }



    .search-user-position {
        position: absolute;
        top: 50px;
        left: 35px;
        padding-bottom: 40px;

        .Search-user-profile-div {
            width: 100%;
            padding: 1rem;
            // background: red;
            margin: 0.5rem;
            display: flex;
            align-items: center;

            .Search-user-profile-img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                margin-right: 1rem;
                cursor: pointer;
            }

            .Search-user-profile-name {
                cursor: pointer;
                text-transform: capitalize;
            }
        }
    }
}

.left {
    width: 100%;
    max-width: 100px;
    height: 100%;

    @include respond-to(xs) {
        display: none;
    }
}