.sideNavbar {
    width: 100%;
    height: 100px;
    // background: red;

    display: flex;
    justify-content: center;
    align-items: end;

    position: fixed;
    top: 84%;
    z-index: 1;

    .circle-div {
        width: 250px;
        height: 150px;
        border-radius: 120px 120px 0 0;
        // background: blue;
        display: flex;
        justify-content: center;
        // align-items: center;
        position: relative;
        padding: 0.5rem;
        font-size: 30px;
        color: #262626;



        .c-home {
            position: absolute;
            top: 0;
            width: 40px;
            height: 40px;
            backdrop-filter: blur(10px);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 80%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .c-heart {
            position: absolute;
            top: 40px;
            left: 40px;
            transform: rotate(-40deg);
            // background: linear-gradient(180deg, #00cfff, #fa008e);
            backdrop-filter: blur(10px);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .c-video {
            position: absolute;
            top: 98px;
            left: 15px;
            transform: rotate(-70deg);
            // background: linear-gradient(190deg, #00cfff, #fa008e);
            backdrop-filter: blur(10px);
            border-radius: 80%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .c-sms {
            position: absolute;
            top: 40px;
            right: 40px;
            transform: rotate(40deg);
            // background: linear-gradient(180deg, #00cfff, #fa008e);
            backdrop-filter: blur(10px);
            border-radius: 80%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .c-profile {
            position: absolute;
            top: 98px;
            right: 15px;
            transform: rotate(40deg);
            // background: green;
            border-radius: 80%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: start;
            justify-content: center;

            .c-profile-img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }


    }
}

.v {
    width: 24px;
    height: 24px;
    object-fit: contain;

}

// ============


.boll {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: blue;
    // width: 100%;
    // height: 80px;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 9999;

    .pinkBg {
        background-color: #d51684 !important;
        background-image: linear-gradient(110deg, #00cfff, #fa008e);
    }

    .intro-banner-vdo-play-btn {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        margin: -15px 0 0 -15px;
        border-radius: 100px;
        z-index: 1;
        // overflow: hidden;
    }

    .intro-banner-vdo-play-btn .ripple {
        position: absolute;
        width: 60px;
        height: 60px;
        z-index: -2;
        left: 50%;
        top: 50%;
        opacity: 0;
        margin: -30px 0 0 -30px;
        border-radius: 100px;
        -webkit-animation: ripple 1.8s infinite;
        animation: ripple 1.8s infinite
    }

    @-webkit-keyframes ripple {
        0% {
            opacity: 1;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        100% {
            opacity: 0;
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }

    @keyframes ripple {
        0% {
            opacity: 1;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        100% {
            opacity: 0;
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }

    // .intro-banner-vdo-play-btn .ripple:nth-child(2) {
    //     animation-delay: .3s;
    //     -webkit-animation-delay: .3s
    // }

    .intro-banner-vdo-play-btn .ripple:nth-child(1) {
        animation-delay: .6s;
        -webkit-animation-delay: .6s
    }
}