.Rtime-main-container {
    width: 100%;
    height: 100vh;
    // background: #161616;
    display: flex;

    .left {
        width: 100%;
        max-width: 100px;
        background: green;
    }

    .rtime-center {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

    }

}

.post-container {
    width: 100%;
    height: 160px;
    max-width: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 10px;

    .post-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 1rem;
    }

    .post-profile-name {
        color: blue;
    }
}